kind: Service
apiVersion: v1
metadata:
  name: $APP_NAME
spec:
  type: LoadBalancer
  ports:
  - name: http
    port: 80
    targetPort: 8080
    protocol: TCP
  selector:
    app: $APP_NAME
    role: frontend